<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.4%" fxLayoutAlign="center center">
  <mat-card class="example-card" *ngFor="let user of users">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" matTooltip="Please open console for view results">
        {{ user.name }} | ID: {{ user.id }}
      </mat-card-title>
      <mat-card-subtitle>{{ user.email | lowercase }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content> -->
    <mat-card-actions fxLayoutAlign="center center">
      <button  mat-stroked-button
        color="primary">EXECUTE</button>
    </mat-card-actions>
  </mat-card>
</div>
