<mat-toolbar color="primary" class="app-toolbar">
  <span>psalguerodev</span>
  <div class="example-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="nav('home')" >
      <mat-icon>home</mat-icon>
      <span>Samples</span>
    </button>
    <button mat-menu-item (click)="openUrlRepo()">
      <mat-icon>code</mat-icon>
      <span>GitHub Repo</span>
    </button>
    <button mat-menu-item (click)="nav('interceptors')" >
      <mat-icon>http</mat-icon>
      <span>Interceptors</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>sync_problem</mat-icon>
      <span>Service Worker</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>language</mat-icon>
      <span>I28N</span>
    </button>
  </mat-menu>
</mat-toolbar>



<router-outlet></router-outlet>
