* {
  font-family: Montserrat, sans-serif !important; 
}

.container {
  padding: 0.5%;
}

::selection {
  background: #8e44ad;
  color:white;
}

mat-card-title {
  cursor: pointer;
}

mat-card {
  width: 80%;
}

mat-icon{
  font-family: 'Material Icons' !important;
}

.example-card {
  max-width: 400px;
  margin-top: 20px;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png')
  background-size: cover;
}

.icon_color {
  color: orange;  
}