* {
  font-family: Montserrat, sans-serif !important;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
  color: blue !important;
}

::selection {
  background: #8e44ad;
  color:white;
}

mat-card-title {
  cursor: pointer;
}

mat-icon{
  font-family: 'Material Icons' !important;
}

.example-card {
  min-width: 400px;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px #027df0 !important;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png')
  background-size: cover;
}

.example-header-image-user {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/38/Wikipedia_User-ICON_byNightsight.png');
  background-size: cover;
}

.icon_color {
  color: orange;
}

.mat-toolbar.mat-primary {
  background: linear-gradient(90deg, #027df0, #3a30ca) !important;
}

section {
  width: 100%;
  min-height: 430px;
  z-index: -1;
  position relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
  padding: 0%;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  color: white;
  word-wrap: break-word;
  font-size: 55px;
  text-shadow: 0 1px 0 rgba(black, .1);
}

.button-center {
  position: relative;
  margin: auto;
}

.index {
  position: absolute;
  z-index: 1;
}

.wave {
  position: relative;
  background: linear-gradient(90deg, #027df0, #3a30ca);
}

.logo-image {
  width: 90px;
  position: relative;
}

.wave::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-image: url('./assets/images/curve.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
